<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
           <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
 
        <link rel="stylesheet" href="styles.css">
        <title>Contact Form - Vue</title>
    </head>
    <body>
        <main class="main-content" id="app">
      <div class="success-message" id="success-message">
        <div>
          <img class="sent-icon" src="../assets/images/icon-success-check.svg" alt="success-checkmark"></span>
          <span class="sent-text">Message Sent!
        </div>
        <div class="sent-paragraph">
          <p>Thanks for completing the form. We'll be in touch soon!</p>
        </div>
      </div>
      <form class="form" id="form" v-on:submit.prevent>
        <div class="contact-wrapper">
          <h1>Contact Us</h1>
        </div>
        <div class="form-control name-wrapper">
          <!--ERROR MESSAGE: This field is required-->
          <div class="first-name-wrapper">
            <label for="firstname" class="required">First Name</label>
            <input
              required
              type="text"
              id="firstname"
              name="firstname"
              class="input-controller firstname-input"
              v-model="formData.firstname"
              @blur="validateFirstName"
            />
            <span class="error-message" id="firstname-error"
              >{{formErrors.firstname}}</span
            >
          </div>
          <div class="last-name-wrapper">
            <label for="lastname" class="required">Last Name</label>
            <input
              required
              type="text"
              id="lastname"
              name="lastname"
              class="input-controller lastname-input"
              v-model="formData.lastname"
              @blur="validateLastName"
            />
            <span class="error-message" id="lastname-error"
              >{{formErrors.lastname}}</span
            >
          </div>
        </div>

        <div class="form-control email-wrapper">
          <!--ERROR MESSAGE: Please enter a valid email address
  This field is required-->
          <label for="email" class="required">Email Address</label>
          <input
            required
            type="email"
            id="email"
            name="email"
            class="input-controller email-input"
           
            v-model="formData.email"
            @blur="validateEmail"
          />
          <span class="error-message" id="email-error"
            >{{formErrors.email}}</span
          >
        </div>

        <div class="form-control">
          <!--ERROR MESSAGE: Please select a query type-->
          <label class="required">Query Type </label>
          <div class="query">
            <div class="query-wrapper">
              <input
                type="radio"
                id="query-general"
                name="query"
                class="input-controller query-input"
                v-model="formData.query"
                @blur="validateQuery"
              /><label for="query-general">General Enquiry</label>
            </div>
            <div class="query-wrapper">
              <input
                type="radio"
                id="query-support"
                name="query"
                class="input-controller query-input"
                 v-model="formData.query"
                @blur="validateQuery"
              /><label for="query-support">Support Request</label>
            </div>
          </div>
          <span class="error-message" id="query-error"
            >{{formErrors.query}}</span
          >
        </div>

        <div class="form-control message">
          <!--ERROR MESSAGE: This field is required-->
          <label for="message" class="required">Message</label>
          <textarea
            required
            name="message"
            id="message"
            class="textarea"
            v-model="formData.message"
            @blur="validateMessage"
          ></textarea>
          <span class="error-message" id="message-error">
            {{formErrors.message}}</span
          >
        </div>

        <div class="form-control consent">
          <!--ERROR MESSAGE:  To submit this form, please consent to being contacted-->

          <input
            required
            type="checkbox"
            id="consent"
            name="consent"
            class="input-controller consent-input"
            v-model="formData.consent"
            @change="validateConsent"
          />
          <label for="consent" class="required">I consent to being contacted by the team</label>
          <span class="error-message" id="consent-error">
            {{formErrors.consent}}</span
          >
        </div>

        <button type="submit" class="submit-btn" id="submit-btn">Submit</button>
      </form>

      <!--SUBMIT MESSAGE: Message Sent!
  Thanks for completing the form. We'll be in touch soon!-->
    </main>
        
        <script src="js/vue.global.js"></script>
        <script type="module" src="script.js"></script>
    </body>
</html>