@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/static/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla";
  display: flex;
  justify-content: center;
  height: 100vh;
  font-size: 16px;
  background-color: hsl(148, 38%, 91%);
}

form {
  border: none;
  padding: 1.9rem;
  border-radius: 0.8rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(187, 24%, 22%);
  min-width: 46%;
  /* height: 75%; */
  /* max-height: 80%; */
  margin-top: 15%;
}

.contact-wrapper {
  margin-bottom: 1.2rem;
  text-align: left;
}

.form-control {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}
.name-wrapper,
.query {
  display: flex;
  direction: row;
  gap: 1rem;
}
.query {
  margin-top: 1.1rem;
}
.first-name-wrapper,
.last-name-wrapper {
  width: 50%;
}
.first-name-wrapper input,
.last-name-wrapper input,
.email-wrapper input,
.textarea {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}
.firstname-input,
.lastname-input,
.email-input {
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 1rem;
  color: hsl(187, 24%, 22%);
  border-radius: 0.4rem;
  border: 1px solid hsl(186, 15%, 59%);
}
.firstname-input:hover,
.lastname-input:hover,
.email-input:hover {
  cursor: pointer;
  border: 1.8px solid hsl(169, 82%, 27%);
}
.firstname-input:focus,
.lastname-input:focus,
.email-input:focus,.textarea:focus {
  outline: 1.2px solid hsl(169, 82%, 27%);
}
/* .query-wrapper {
  border: 1px solid black;
  width: 50%;
  padding: 0.5rem 0.9rem;
} */
.query-wrapper {
  width: 50%;
  height: 2.8rem;
  font-size: 1.2rem;
  padding: 1rem;
  color: hsl(187, 24%, 22%);
  border-radius: 0.4rem;
  border: 1px solid hsl(186, 15%, 59%);
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.query-wrapper:hover,
.query-wrapper label:hover {
  cursor: pointer;
}
/*NEW THING: accent-color */
.query-input,.consent-input {
  accent-color: hsl(169, 82%, 27%);
}
/*NEW THING: if some element has some shit*/
.query-wrapper:has(input:checked) {
  background-color: hsl(148, 38%, 91%);
}
.textarea {
    font-family: 'Karla';
  height: 7rem;
  padding: 1rem;
  color: hsl(187, 24%, 22%);
  border-radius: 0.4rem;
  border: 1px solid hsl(186, 15%, 59%);
  font-size: 1.25rem;
}

.consent-input {
  margin-right: 0.5rem;
}
.submit-btn {
  margin-top: 4%;
  width: 100%;
  border-radius: 0.4rem;
  background-color: hsl(169, 82%, 27%);
  color: white;
  padding: 1rem;
  font-weight: 700;
  font-size: large;
  border: none;
}
.submit-btn:hover, .consent label:hover {
    cursor: pointer;
}
.error-message {
  margin-top: 0.6rem;
  display: block;
  color: hsl(0, 66%, 54%);
  display: none;
}
/* NEW THING TO LEARN: :user-invalid */
.firstname-input:user-invalid,
.lastname-input:user-invalid,
.email-input:user-invalid {
  border-color: hsl(0, 66%, 54%);
}

label.required::after {
    content: "*";
    margin-left: 8px;
    color: hsl(169, 82%, 27%);
}